extends layout
block head
    script(src="./ace-builds/src-noconflict/ace.js")
    link(rel='stylesheet', href='/stylesheets/upload.css')
block content
    h1= title
    h4= prompt
    if !text
        form(action="/pdf" enctype="multipart/form-data" method="post")
            input(type="file", name="upload")
            br
            button(type="submit", value="upload")= "SUBMIT"
    if text
        //div(id="editor")= text
        //form(id="jsonsubmit" action="/pdfsub" enctype="multipart/form-data" method="post")
        //    input.hide(id="divin" type="text" name="in")
        //button(id="sub" type="button")= "Submit"
        
        h1= json[1][0].test

        each page in json
            each question in page
                .question(id= question.ques)
                    h1(id='ques')= 'Question '+question.ques
                    if question.code
                        h2= 'Code'
                        pre.edit(id='code')= question.code
                    h2= 'Text'
                    pre.edit(id='text')= question.text
                    h2= 'Answer Choices'
                    pre.edit(id='ans')='A. '+question.ans[0]+'\nB. '+question.ans[1]+'\nC. '+question.ans[2]+'\nD. '+question.ans[3]+'\nE. '+question.ans[4]
                    h2= 'Answer'
                    pre.edit(id='key' style='font-size:150%')= question.key
                    p(hidden id="obj")=JSON.stringify(question, null, '\t')

        form(id="jsonsubmit" action="/pdfsub" enctype="multipart/form-data" method="post")
            input.hide(id="divin" type="text" name="in")
        button(id="finalsub" type="button")= "Submit"

        div(style="font-size:8px")=JSON.stringify(json)

    script.
        var editors={};
        function bindSaveSmall(){
            $('.savesmall').click(function(){
                var num = $(this).attr('id');
                var inside= editors[num].getValue();
                var qnum = '';
                var attr = '';
                if(num[1]<57){
                    qnum=num.substr(0,2); 
                    attr=num.substr(2);
                } else {
                    qnum=num[0];
                    attr=num.substr(1);
                }
                $('.question#'+qnum).find('#'+attr).text(inside);
                var jsonstr =  $('#'+qnum+' #obj').text();
                var obj = JSON.parse(jsonstr);
                if(attr!=='ans'){
                    obj[attr]=inside;
                } else {
                    var list = inside.split('\n');
                    list = list.map(function(el){
                        return el.substring(3);
                    });
                    obj[attr] = list;
                }
                $('.question#'+qnum).find('#obj').text(JSON.stringify(obj,null,'\t'));
                $('.question#'+qnum+'>#'+attr+'.edit').show();

                $('#editor'+num).remove();
                $('#'+num+'.savesmall').remove();
            });
        };
        function bindSave(){
            $('.save').click(function(e){ // save button
                var num = $(this).attr('id');
                var inside= editors[num].getValue();
                console.log(inside);
                var obj = JSON.parse(inside);
                $('.question#'+num).find('#test').text(obj.test);
                $('.question#'+num).find('#code').text(obj.code);
                $('.question#'+num).find('#text').text(obj.text);
                $('.question#'+num).find('#A').text('A. '+obj.ans[0]);
                $('.question#'+num).find('#B').text('B. '+obj.ans[1]);
                $('.question#'+num).find('#C').text('C. '+obj.ans[2]);
                $('.question#'+num).find('#D').text('D. '+obj.ans[3]);
                $('.question#'+num).find('#E').text('E. '+obj.ans[4]);
                $('.question#'+num).find('#key').text(obj.key);
                $('.question#'+num).find('#obj').text(JSON.stringify(obj,null,'\t'));
                $('.question#'+num).show();

                $('#editor'+num).remove();
                $('#'+num+'.save').remove();
            });
        };
        $(document).ready(function() {
            $('#finalsub').click(function(){
                var qlist = $('.question #obj');
                var strlist = [];
                for(var i = 0; i<qlist.length; i++){                
                    strlist.push($(qlist[i]).text());
                }
                $('#divin').val(JSON.stringify({list:strlist}));
                $('#jsonsubmit').submit();
                
            });
            $('.question > .edit').click(function(){
                $(this).hide();
                var num = $($(this).parent()).attr('id')+$(this).attr('id');
                var text = $(this).text();
                var id = "editor" + num;
                var div = $("<pre id="+id+">"+text+"</pre><button class='savesmall' id="+num+" >Save</button>");
                div.insertAfter(this);

                editors[num] = ace.edit(id);
                editors[num].setTheme("ace/theme/monokai");
                editors[num].getSession().setMode("ace/mode/javascript");
                editors[num].getSession().setUseWrapMode(true);
                editors[num].setOptions({
                    maxLines: Infinity
                });
                editors[num].setFontSize('16px');
                editors[num].renderer.setShowGutter(false);
                editors[num].setShowPrintMargin(false);

                bindSaveSmall();
            })
            $('h1#ques').click(function(){
                var par = $(this).parent();
                $(par).hide();
                var num = $(par).attr('id');
                var id = "editor"+num;
                var text = "";
                text = ""+$('#'+num+' #obj').text();
                //console.log(text);

                var div = $("<pre id="+id+">"+text+"</pre><button class='save' id="+num+" >Save</button>");
                div.insertAfter(par);
                
                editors[num] = ace.edit(id);
                editors[num].setTheme("ace/theme/monokai");
                editors[num].getSession().setMode("ace/mode/javascript");
                editors[num].getSession().setUseWrapMode(true);
                editors[num].setOptions({
                    maxLines: Infinity
                });
                editors[num].setFontSize('16px');
                editors[num].renderer.setShowGutter(false);
                editors[num].setShowPrintMargin(false);
                
                bindSave();
            });
        });
