extends layout
block head
    link(rel='stylesheet', href='/stylesheets/question.css')
    script(src="../ace-builds/src-noconflict/ace.js")
block content
    div.top
        if qnum
            div.qnum= qnum +"."
                label.id= id
            div.details
                div.title= title
                div.test= "Test " + test
        else
            div.qnum= "Random"
                label.id= id
    span.leftcol
        pre.question.code(id="qq")= question
        form.submit(name="checkquestion",method="post",action="/checkquestion")
            label(for='A')
                input#A(type="radio",name="choice",value="A")
                |#{A}
            label(for='B')
                input#B(type="radio",name="choice",value="B")
                |#{B}
            label(for='C')
                input#C(type="radio",name="choice",value="C")
                |#{C}
            label(for='D')
                input#D(type="radio",name="choice",value="D")
                |#{D}
            label(for='E')
                input#E(type="radio",name="choice",value="E")
                |#{E}
            input(type="hidden",name = "id", value= id)
            br
            button.next next
        button#sub submit
        button.try= "retry"
    span.rightcol
        if side
            pre.question.side(id="cc")= side
block footer
    script.                                                 
        var themeq ="#{themeq}";
        var themec ="#{themec}";
        var key ="#{key}";
    script(src="/scripts/questiondisp.js")
    script(src="/scripts/keys.js")
    script.  
        $(document).ready(function(){
            $('#sub').click(function(){
                var first = $("input[name=choice]:checked").val();
                if(key===first)
                    $('label[for=' + first + ']').css('background-color','green');
                else
                    $('label[for=' + first + ']').css('background-color','red');
                $('#sub').remove();
                $('label').click(false);
                $('.next').css('display','initial');
                $('.try').css('display','initial');
                $('.next').attr('id','sub');
            });
        });