extends layout
block head
    link(rel='stylesheet', href='/stylesheets/scoreboard.css')
block content
    h1= "Most Recent Rankings"
    table#scoreboard(border= 1 frame="void" rules="all")
        thead
            tr
                th= "Username"
                th= "Score"
                th= "Current Streak"
                th= "Longest Streak"
        - var maxCorrect = 0
        each person in ranking
            if (person.correct.length > maxCorrect)
                - maxCorrect = person.correct.length
        each person in ranking
            tr
                td
                    a(href= "/user/"+person.username)
                        div.name= person.username
                td= person.score
                td= person.streak
                td= person.longeststreak
                td
                    span.correct.bar(style="width:"+500*person.correct.length/maxCorrect + "px")
                