extends layout
block head
    link(rel='stylesheet', href='/stylesheets/settings.css')
    script(src="../ace-builds/src-noconflict/ace.js")
block content
    if(prompt)
         .notification= prompt
    h1= "Theme"
    form.submit(method='post', action='/settings')
        div
            h2= "Question"
            select#qthm(name='qchoice')
                option(value="Select Theme") Select Theme
                option(value='terminal') Terminal
                option(value='textmate') textMate
                option(value='twilight') twilight
                option(value='eclipse') eclipse
                option(value='terminal') monokai
                option(value='xcode') xcode
                option(value='twilight') chrome
        div(id="sample")
            |/**
            |Lorem ipsum dolor sit amet, in pri nostrud hendrerit, pro postea perfecto an.    
            |*/
            |public class HelloWorld {
            |    /*An harum civibus quaerendum est.*/
            |    public static void main(String[] args) {
            |        String[] parts = {"Hello",",","World."}
            |        System.out.println(parts[0]+parts[1]+parts[2]);
            |    }
            |}
        div
            h2= "Code"
            select#cthm(name='cchoice')
                option(value="Select Theme") Select Theme
                option(value='terminal') Terminal
                option(value='textmate') textMate
                option(value='twilight') twilight
                option(value='eclipse') eclipse
                option(value='terminal') monokai
                option(value='xcode') xcode
                option(value='twilight') chrome
        div(id="samplecode") 
            |/**
            |Lorem ipsum dolor sit amet, in pri nostrud hendrerit, pro postea perfecto an.    
            |*/
            |public class HelloWorld {
            |    /*An harum civibus quaerendum est.*/
            |    public static void main(String[] args) {
            |        String[] parts = {"Hello",",","World."}
            |        System.out.println(parts[0]+parts[1]+parts[2]);
            |    }
            |}
        button.next(type="submit") submit
    h1= "Change Password"
    form.submit(name="newpass",method="post",action="/settings")
            input#oldpass.text(type="password", placeholder="Old Password", name="pass")
            br
            input#newpass.text(type="password", placeholder="New Password", name="newpass")
            br
            input#newpassc.text(type="password", placeholder="Confirm New Password", name="newpassc")
            br
            button.next(type="submit") submit
block footer
    script.
        var editor = ace.edit("sample");
        editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/java");
        editor.getSession().setUseWorker(false);
        editor.setFontSize("15px");
        editor.renderer.setShowGutter(false);
        editor.setOptions({
            maxLines: Infinity
        });
        var code = ace.edit("samplecode");
        code.setTheme("ace/theme/eclipse");
        code.getSession().setMode("ace/mode/java");
        code.getSession().setUseWorker(false);
        code.setFontSize("15px");
        code.renderer.setShowGutter(false);
        code.setOptions({
            maxLines: Infinity
        });
        $(document).ready(function(){
            $('#qthm').change(function(){
                console.log("yes");
                editor.setTheme("ace/theme/" + $('#qthm').val());
            });
            $('#cthm').change(function(){
                console.log("yes2");
                code.setTheme("ace/theme/" + $('#cthm').val());
            });
        });
        
