extends layout
block head
    link(rel='stylesheet', href='/stylesheets/question.css')
    script(src="../ace-builds/src-noconflict/ace.js")
block content
    div.top
        if qnum
            div.qnum= qnum +"."
                label.id= id
            div.details
                div.title= title
                div.test= "Test " + test
        else
            div.qnum= "Random"
                label.id= id
    div.middle
        if type==='correct'
            h3.correct="You have answered this problem correctly."
        if type==='incorrect'
            h3.incorrect="You have previously answered this question incorrectly."
        if type==='passed'
            h3.passed="You have previously passed this question."
        if type=== 'corrected'
            h3.corrected= "You have corrected this question."
    span.leftcol
        pre.question.code(id="qq")= question
        //div.question.code= question
        
        
        if(choices)
            form.submit(name='tryagaincheck',method="post",action='/tryagaincheck')
                for letter in [[A,'A'],[B,'B'],[C,'C'],[D,'D'],[E,'E']]
                    if(type==='correct')
                        if(letter[1]===key)
                            label.correct(for=letter[1])
                                input.correct(id=letter[1],type='radio',name='choice',value=letter[1])
                                |#{letter[0]}
                    if(type==='corrected')
                        if(letter[1]===key)
                            label.correct(for=letter[1])
                                input.correct(id=letter[1],type='radio',name='choice',value=letter[1])
                                |#{letter[0]}
                        else if(choices.indexOf(letter[1])>-1)
                            label.incorrect(for=letter[1])
                                input.incorrect(id=letter[1],type='radio',name='choice',value=letter[1])
                                |#{letter[0]}
                    if(type==='incorrect')
                        if(choices.indexOf(letter[1])>-1)
                            label.wrong(for=letter[1])
                                input.wrong(id=letter[1],type='radio',name='choice',value=letter[1])
                                |#{letter[0]}
                    if(choices.indexOf(letter[1])===-1&&(type==='incorrect'||letter[1]!==key))
                        label(for=letter[1])
                            input(id=letter[1],type='radio',name='choice',value=letter[1])
                            |#{letter[0]}
                input(type="hidden",name = "id", value= id)
                input(type="hidden",name = "typer",value = type)
                br
                button.next home
            button#sub submit
        if(!choices)
            form.submit(name='tryagaincheck',method='post',action='/tryagaincheck')
                for letter in [[A,'A'],[B,'B'],[C,'C'],[D,'D'],[E,'E']]
                    label(for=letter[1])
                        input(id=letter[1],type='radio',name='choice',value=letter[1])
                        |#{letter[0]}
                input(type="hidden",name = "id", value= id)
                input(type="hidden",name = "typer",value = type)
                br
                button.next home
            button#sub submit
        
    span.rightcol
        if side
            pre.question.side(id="cc")= side
block footer
    script.                                                 
        var themeq ="#{themeq}";
        var themec ="#{themec}";
        var key ="#{key}";
    script(src="/scripts/questiondisp.js")
    script(src="/scripts/keys.js")
    script.  
        $(document).ready(function(){
            $('#sub').click(function(){
                var first = $("input[name=choice]:checked").val();
                if(key===first)
                    $('label[for=' + first + ']').addClass('correct');
                else
                    $('label[for=' + first + ']').addClass('incorrect');
                $('#sub').remove();
                $('label').click(false);
                $('.next').css('display','initial');
                $('.next').attr('id','sub');
                
            });
        });
