extends ../layout
block head
    script(src="./ace-builds/src-noconflict/ace.js")
    link(rel='stylesheet', href='/stylesheets/upload.css')
block content
    if isCorrect !== undefined
        if isCorrect 
            h1.text-correct= 'Correct!'
        else
            h1.text-incorrect= 'Incorrect'
    else
        h1= 'Submit a Program'
    if prompt
        h4= 'stdout from running program'
        div#qq= prompt
    if programout
        h4= 'Program Contents'
        div#cc= programout
    form(action="/programming" enctype="multipart/form-data" method="post")
        input(type="file", name="upload")
        br
        select(name="problem")
            - each problem in problems
                option(value = problem)= problem
        button(type="submit", value="upload")= "SUBMIT"
block footer
    script.
        var themeq = 'terminal';
        var themec = 'eclipse';
    script(src="/scripts/questiondisp.js")